# Intellij project files
*.iml
*.ipr
*.iws
.idea/

#Gradle
.gradletasknamecache
.gradle/
build/classes
build/dependency-cache
build/poms
build/resources
build/sources
build/taskLogs
build/tmp
bin/

.DS_Store
